@import url('https://fonts.googleapis.com/css?family=Numans');

#app-nav {
    background-color: #a5a5a5;
    color: #fff;
    width: 100%;
}

div {
    display: block;
}

h1, h4, p, body, html {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn {
    background-color: #6D5B7E;
	text-decoration: none;
	padding: 10px 28px;
	color: #fff;
	margin-top: 10px;
	display: inline-block;
    margin-left: 1em
}
.btn:hover {
    background-color: #fff;
    color: #6D5B7E;
    border: 2px solid #6D5B7E;
    text-align: center;
}
.container {
    background-color: #4e4242;
}
.general-btn {
    color: #fff;
    background-color: #6D5B7E;
    width: 150px;
    text-align: center;
    display: inline-block;
    padding: 10px 28px;
    border: 1px solid #fff;
    border-radius: 8px;
}
.general-btn:hover {
    color: #6D5B7E;
    background-color: #fff;
    border: 2px solid #6D5B7E;
}
.page-header {
    color: #fff;
    margin-top: 3em;
}
.profile-btn {
    width: 100%;
}

.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-50 {
    margin-top: 50px;
}
.mb-10 {
    margin-top: 10px;
}
.mb-20 {
    margin-top: 20px;
}
.mb-30 {
    margin-top: 30px;
}
.mb-40 {
    margin-top: 40px;
}
.mb-50 {
    margin-top: 50px;
}
/***************************************
    HOME PAGE
***************************************/
.mbr-section-btn {
    text-align: left;
}
.mbr-section-btn {
    margin-left: -.25rem;
    margin-right: -.25rem;
    font-size: 0;
}
.pt-3, .py-3 {
    padding-top: 1rem!important;
}
.col-lg-9 {
    color: #232323;
    background-color: #37c991;
    padding: 0px 15px;
}
.content-wrapper {
    color: #232323;
    font-size: 16px;
    padding: 96px 64px;
}
.row {
    color: #232323;
    font-size: 16px;
    margin: 0px 15px;
}
/***************************************
    VIEW USERS PAGE
***************************************/
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
    text-align: center;
}
t
td:first-of-type {
    padding-left: 36px;
    width: 66px;
}
.find-container {
    width: fit-content;
    margin-top: .85em auto;
    margin-left: 10px;
}
.view-table {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #fff;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.25;
    margin-bottom: 24px;
    width: 100%;
}
.view-table-cell {
    padding: 12px 6px 12px 12px;
    word-wrap: break-word;
}
.view-table-body td {
    padding: 1em;
}
.view-table-header th {
    background-color: #fff;
    padding: 18px 6px 18px 12px;
    color: #6D5B7E;
}
.view-table-header {
    border-top-left-radius: 4px;
}
.view-table-body tr {
    border-bottom: 4px solid rgba(113, 110, 182, 0.15);
}
.view-table-body tr:last-child {
    border-bottom: none;
}
.view-table-body tr:hover {
    background-color: #d7beaf;
    color: #000;
}
.wrapper {
    margin: 24px auto;
    width: 70%;
}

/***************************************
    SUBMIT REIMBURSEMENT PAGE
***************************************/
.form-section-heading {
    font-size: 2em;
    color: #1f1f21;
    line-height: 2.4rem;
    font-weight: 500;
    display: block;
    padding: 2rem 2.4rem;
    border-bottom: solid 1px #eee;
}
.field-wrap {
    border: solid 1px transparent;
    margin: -1px;
}

.field-wrap:hover,
.field-wrap:focus-within {
    z-index: 99;
    position: relative;
    margin: -1px;
}

.field-wrap:hover {
    border: solid 1px #bdbec2;
    z-index: 9999;
    position: relative;
    margin: -1px;
}

.field-wrap:focus-within {
    border: solid 1px #6D5B7E;
    box-shadow: 0 0 3px 3px #5856d61a;
}

.field {
    display: flex;
    margin-left: 1rem;
    margin-bottom: -1px;
    border-bottom: solid 1px #eee;
    align-items: center;
}
  
.field-wrap:hover .field,
.field:focus-within {
    border-bottom: solid 1px transparent;
}
.field-wrap:last-child:hover,
.field-wrap:last-child:focus-within {
    border-radius: 0 0 4px 4px;
}
.label {
    font-size: 1rem;
    color: #5b5b5b;
    line-height: 2rem;
    width: 18rem;
    word-break: keep-all;
    position: absolute;
    display: block;
}
.helper-text {
    display: block;
    font-size: 1.3rem;
    color: #737399;
}
.input,
.select {
    width: 100%;
    padding: 20px 20px 20px 200px;
    border: 0;
    font-size: 1rem;
    line-height: 2rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    position: relative;
    z-index: 99;
}
.select {
    color: #6D5B7E;
    background-position: right 20px center;
}
.input:focus,
.select:focus {
    outline: none;
}
@media only screen and (max-width: 600px) {
    .helper-text {
        display: inline;
        margin-left: 4px;
    }
    .field {
        display: block;
    }
    .label {
        width: 100%;
        position: relative;
        display: block;
        margin-top: 12px;
        font-size: 1.3rem;
    }
    .input,
    .select {
        display: block;
        padding: 6px 12px 12px 0;
    }
}
/***************************************
    MEMBER PROFILE PAGE
***************************************/
p {
    text-align: center;
    font-size: 20px;
}
.profile-header {
    font-size: 60px;
    color: #000;
}
.fullName, h4 {
    font-size: 50px;
    color: #d7beaf;
    text-align: center;
    border: 1px solid #000;
    border-radius: 3px;
}
.member-profile {
    margin-left: 6em;
    margin-right: 6em;
}
.field-icon, #pass-status, #confirm-status {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    margin-right: 10px;
    position: relative;
    z-index: 2;
}
.profile-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 3em;

}
.well-sm {
    padding: 9px;
    border-radius: 3px;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4 px;
    -webkit-box-shadow: inset 0 1px 1px #0000000d;
    box-shadow: inset 0 1px 1px #0000000d;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, 
.col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, 
.col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, 
.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, 
.col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-12 {
    width:100%
}
.col-md-8 {
    width:66.66666666666666%
}
.col-md-6 {
    width:50%
}
.col-md-4 {
    width:33.33333333333333%
}
.col-sm-6 {
    width: 50%;
}
.img-rounded {
    border-radius: 6px;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
img {
    vertical-align: middle;
    border-style: none;
}
.rv_button.closed:after {
    content:"\33";
}
.rv_button.opened:after {
    content:"\32";
}
@media (min-width: 992px) {
    .col-md-8 {
        width:66.66666666666666%
    }
}
@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, 
    .col-md-4, .col-md-5, .col-md-6, 
    .col-md-7, .col-md-8, .col-md-9, 
    .col-md-10, .col-md-11 {
        float: left;
    }
}
@media (min-width: 768px) {
    .col-sm-6 {
        width: 50%;
    }
}
@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, 
    .col-sm-4, .col-sm-5, .col-sm-6, 
    .col-sm-7, .col-sm-8, .col-sm-9, 
    .col-sm-10, .col-sm-11 {
        float: left;
    }
}