@import url('https://fonts.googleapis.com/css?family=Numans');

#app-nav {
    background-color: #777;
    color: #fff;
    width: 100%;
}
.nav-link {
    color: #fff;
}
.nav-link:hover {
    color: #d7beaf;
}
.nav-item .dropdown-menu {
    background: #000;
}
div {
    display: block;
}

h1, h4, p, body, html {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn {
    background-color: #6D5B7E;
	text-decoration: none;
	padding: 10px 28px;
	color: #fff;
	margin-top: 10px;
	display: inline-block;
    margin-left: 1em;
}
.btn:hover {
    background-color: #fff;
    color: #6D5B7E;
    border: 2px solid #6D5B7E;
    text-align: center;
}
.find-btn {
    margin-left: 56em;
}
.userbtn {
    background-color: #777;
	text-decoration: none;
	padding: 8px 24px;
	color: #fff;
	margin-top: 10px;
    border-radius: 8px;
}
.userbtn:hover {
    background-color: #fff;
    color: #6D5B7E;
    border: 2px solid #6D5B7E;
    text-align: center;
}
.container {
    background-image: url(../images/black-white.jpg);
}
.general-btn {
    color: #fff;
    background-color: #6D5B7E;
    width: 150px;
    text-align: center;
    display: inline-block;
    padding: 10px 28px;
    border: 1px solid #fff;
    border-radius: 8px;
}
.general-btn:hover {
    color: #6D5B7E;
    background-color: #fff;
    border: 2px solid #6D5B7E;
}
.submitReim {
    color: #fff;
    background-color: #6D5B7E;
    width: 350px;
    margin-top: 12px;
    text-align: center;
    display: inline-block;
    padding: 10px 38px;
    border: 1px solid #fff;
    border-radius: 8px;
}

.page-header {
    color: #000;
}
.profile-btn {
    width: 100%;
}

.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-50 {
    margin-top: 50px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-50 {
    margin-bottom: 50px;
}

/***************************************
    VIEW USERS PAGE
***************************************/
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
    text-align: center;
}
t
td:first-of-type {
    padding-left: 36px;
    width: 66px;
}
.userId {
    height: 40px;
    margin-top: 10px;
    border-radius: 8px;
}
.find-container {
    /* width: fit-content; */
    margin-top: .85em auto;
    margin-left: 475px;
}
.findR-container {
    margin-top: .85em auto;
    margin-left: 537px;
}
.view-table {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #fff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.25;
    margin-bottom: 24px;
    width: 100%;
}
.view-table-cell {
    padding: 12px 6px 12px 12px;
    word-wrap: break-word;
}
.view-table-body td {
    padding: 1em;
}
.view-table-header th {
    background-color: #777;
    padding: 18px 6px 18px 12px;
    /* color: #6D5B7E; */
    color: #fff;
}
.view-table-header {
    border-top-left-radius: 4px;
}
.view-table-body tr {
    border-bottom: 4px solid rgba(113, 110, 182, 0.15);
}
.view-table-body tr:last-child {
    border-bottom: none;
}
.view-table-body tr:hover {
    background-color: #d7beaf;
    /* background-color: #6D5B7E; */
    color: #000;
}
.wrapper {
    margin: 0 auto;
    width: 100%;
}
.well-sm {
    padding: 9px;
    border-radius: 3px;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-top: 80px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4 px;
    -webkit-box-shadow: inset 0 1px 1px #0000000d;
    box-shadow: inset 0 1px 1px #0000000d;
}

/***************************************
            REIMBURSEMENT PAGE
***************************************/
.btn-success, .btn-danger {
    width: 100%;
    margin: 0 auto;
    padding: 8px;
    margin-top: 5px; 
}
.form-section-heading {
    font-size: 2em;
    color: #1f1f21;
    line-height: 2.4rem;
    font-weight: 500;
    display: block;
    padding: 2rem 2.4rem;
    border-bottom: solid 1px #eee;
}
.field-wrap {
    border: solid 1px transparent;
    margin: -1px;
}

.field-wrap:hover,
.field-wrap:focus-within {
    z-index: 99;
    position: relative;
    margin: -1px;
}

.field-wrap:hover {
    border: solid 1px #bdbec2;
    z-index: 9999;
    position: relative;
    margin: -1px;
}

.field-wrap:focus-within {
    border: solid 1px #6D5B7E;
    box-shadow: 0 0 3px 3px #5856d61a;
}

.field {
    display: flex;
    margin-left: 1rem;
    margin-bottom: -1px;
    border-bottom: solid 1px #eee;
    align-items: center;
}
  
.field-wrap:hover .field,
.field:focus-within {
    border-bottom: solid 1px transparent;
}
.field-wrap:last-child:hover,
.field-wrap:last-child:focus-within {
    border-radius: 0 0 4px 4px;
}
.label {
    font-size: 1rem;
    color: #5b5b5b;
    line-height: 2rem;
    width: 18rem;
    word-break: keep-all;
    position: absolute;
    display: block;
}
.helper-text {
    display: block;
    font-size: 1.3rem;
    color: #737399;
}
.input,
.select {
    width: 100%;
    padding: 20px 20px 20px 200px;
    border: 0;
    font-size: 1rem;
    line-height: 2rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    position: relative;
    z-index: 99;
}
.select {
    color: #6D5B7E;
    background-position: right 20px center;
}
.input:focus,
.select:focus {
    outline: none;
}
@media only screen and (max-width: 600px) {
    .helper-text {
        display: inline;
        margin-left: 4px;
    }
    .field {
        display: block;
    }
    .label {
        width: 100%;
        position: relative;
        display: block;
        margin-top: 12px;
        font-size: 1.3rem;
    }
    .input,
    .select {
        display: block;
        padding: 6px 12px 12px 0;
    }
}